* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
    font-family: "shrikhand", "Times New Roman", Times, serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    background-color: rgb(245, 146, 146);
    border: double black 5px;
}

main {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(238, 230, 230);
}

.title {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted black 2px;
    background-color: white;
    margin-bottom: 100px;
}

.fiches {
	width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 200px 0 200px;
}

.fiches img {
	height: 250px;
    width: 400px;
    object-fit: cover;
}

.fiches h3,p {
	margin-left: 20px;
}

article {
    width: 400px;
    height: 330px;
    overflow: hidden;
    border: solid white 4px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 146, 146);
    border: double black 5px;
}

footer h2 {
    font-family: "shrikhand", "Times New Roman", Times, serif;
    font-weight: bold;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}